.active-nav-item{
    color: rgb(135, 67, 204);
}
mat-toolbar{
    padding: 2%;
    font-size: 150%;
}

.btnNav{
    font-size: 87%;
}

.personal-container{
    font-size: 75%;
    width: 25%;
}

.personal-container span {
    float: right;
}

.navigationBtns{
    width: 75%;
}